<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ae.ae_firststeps_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AECustomTheme">
        <activity
            android:name=".CardViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:theme="@style/AECustomTheme.NoActionBar"></activity>
        <activity
            android:name=".GuiDemoActivity"
            android:label="@string/title_activity_gui_demo"
            android:theme="@style/AECustomTheme.NoActionBar" />
        <activity
            android:name=".DragNDropActivity"
            android:label="@string/title_activity_drag_ndrop"
            android:theme="@style/AECustomTheme.NoActionBar" />
        <activity
            android:name=".CustomComponentActivity"
            android:label="@string/title_activity_custom_component"
            android:theme="@style/AECustomTheme.NoActionBar" />
        <activity
            android:name=".IntentCatcherActivity"
            android:label="@string/title_activity_intent_catcher"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.ae.ae_firststeps_android.LAUNCH" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntentDemoActivity"
            android:label="@string/title_activity_intent_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DBActivity"
            android:label="@string/title_activity_db"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ae.ae_firststeps_android.MainActivity" />
        </activity>

        <receiver
            android:name=".SystemIntentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AEReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ae.CUSTOM_INTENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AEService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/ae_activity_name"
            android:theme="@style/AECustomTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".StudentsProvider"
            android:authorities="com.ae.ae_firststeps_android.StudentsProvider" />
    </application>

</manifest>